<h1>New Entry</h1>

<%= form_with url: "/entries", method: :post, local: true, multipart: true do %>
  <%= hidden_field_tag :place_id, params["place_id"] %>

  <p>
    <%= label_tag :title, "Title", for: "title_input" %>
    <%= text_field_tag :title, nil, id: "title_input" %>
  </p>

  <p>
    <%= label_tag :description, "Description", for: "description_input" %>
    <%= text_area_tag :description, nil, id: "description_input" %>
  </p>

  <p>
    <%= label_tag :occurred_on, "Occurred On", for: "occurred_on_input" %>
    <%= date_field_tag :occurred_on, nil, id: "occurred_on_input" %>
  </p>

  <p>
    <%= label_tag :uploaded_image, "Image", for: "uploaded_image_input" %>
    <%= file_field_tag :uploaded_image, id: "uploaded_image_input", accept: "image/png, image/jpg, image/jpeg, image/gif" %>
  </p>

  <%= button_tag "Save", class: "btn btn-primary" %>
<% end %>
